body{
    margin:0;
    padding: 0;
}

.fundo{
    width: 100vw;
    height: 100vh;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
}
.conteudo{
    width: 500px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    position: absolute;
    flex-direction: column;    

}


.inss{
    width: 80%;
    display: flex;
    justify-content: center;
    border: 1px solid black;
    align-items:start;
    flex-direction: column;    
}

#salario{
    width: 250px;
    height: 25px;
    padding: 6px 0 6px 10px;
}


#btn-inss{
    margin:  10px 0 0 90px;
    background-color: cadetblue;
    color: brown;
    border: none;
    font-size: 15px;
    width: 80px;
    height: 25px;
}

.texto-inss{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 60px;
    font-size: 20px;

}


.tabela-calculadora button{
    width: 50px;
    height: 50px;
    color: brown;
    background-color: cadetblue;
    border: none;
    border-radius:3px;
    font-size:19px;
}

.tabela-calculadora button:hover{
    background-color: rgb(80, 136, 138);
}

.tabela-calculadora{
    margin-top: 25px;
}

#resultado{
    width: 250px;
    height: 25px;
    padding: 10px 40px 10px;
    text-align: right;
    font-size: 35px;
    color: brown;
}